<div class="container">
    <h3 class="center-align">Админ-панель</h3>

    <!-- Раздел 1: Создание и редактирование тестов -->
    <div class="card">
        <div class="card-content">
            <span class="card-title">Создание и редактирование тестов</span>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">topic</i>Безопасное обращение с оружием
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="/admin-panel/safe-handling-of-weapons/questions" class="waves-effect
                                waves-light btn">Список
                                                                                                      вопросов</a>
                            </li>
                            <li class="collection-item">
                                <a href="/tickets" class="waves-effect waves-light btn">Список билетов</a>
                            </li>
                            <li class="collection-item">
                                <a href="/questions/new" class="waves-effect waves-light btn">Создать вопрос</a>
                            </li>
                            <li class="collection-item">
                                <a href="/tickets/new" class="waves-effect waves-light btn">Создать билет</a>
                            </li>
                            <li class="collection-item">
                                <a href="/exam-requirements" class="waves-effect waves-light btn">Условия прохождения экзамена</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Управление пользователями</span>

            <!-- Подраздел: Загрузить список пользователей -->
            <div class="section">
                <h6>Загрузить список пользователей</h6>
                <button class="btn waves-effect waves-light" onclick="loadUsers()">Загрузить список</button>
            </div>

            <!-- Подраздел: Поиск пользователя по email -->
            <div class="section">
                <h6>Поиск пользователя по email</h6>
                <form onsubmit="searchUserByEmail(event)">
                    <div class="input-field">
                        <input id="email" type="email" class="validate" required>
                        <label for="email">Введите email</label>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Найти пользователя</button>
                </form>
            </div>
        </div>
    </div>

</div>
