<div class="container">
    <h2 class="center-align">Экзаменационные билеты на оружие</h2>
    <p>
        Данное приложение предназначено для подготовки к сдаче экзамена на знания правил безопасного обращения с
        оружием и
        навыков безопасного обращения с оружием для приобретения гражданского огнестрельного оружия (в т. ч. ограниченного поражения), газовых пистолетов револьверов или охотничьего пневматического оружия.
        Подготовка осуществляется посредством решения теста на оружие, представленный ниже.
    </p>
    <p>
        Порядок проведения экзамена регламентирован Приказом Росгвардии №661 от 26.12.2018 «Об утверждении Порядка проведения проверки у граждан Российской Федерации знания правил безопасного обращения с оружием и наличия навыков безопасного обращения с оружием в организациях, определяемых Правительством Российской Федерации». Все материалы актуальны на 2024 год.
    </p>
    <p>
        Экзаменационные билеты на оружие состоят из вопросов и нескольких вариантов ответов, среди которых один правильный. Для усвоения всего материала необходимо просмотреть все вопросы на оружие.
    </p>
    <p>
        Для того чтобы начать тестирование или подготовку к тестированию, необходимо <a
            href="/auth">авторизоваться</a>.
    </p>
</div>
